[view template]

<!-- ///////////////////////////////////////
// TODO your street to be cleaned up below//
/////////////////////////////////////// -->

<div class="jumbotron hero-unit">
  <div class="container">
    <div class="row text-center">
        <h2>Explore Open Streets</h2>
        <div class="col-md-4 col-md-offset-4">
          <input type="text" value={{addressCopy}} oninput={{action 'setAddress' value="target.value"}} placeholder="123 Main St." class="form-control">
        </div>
    </div>
  </div>
</div>

<div class="container" role="main">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3 class="text-center">Topics for</h3>
      <h1 class="text-center">{{model.location.name}}</h1>

      {{#each model.map.operationalLayers as |layer|}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{layer.title}}</h3>
        </div>
        {{topic-feature layer=layer location=model.location.feature.geometry}}

        <!-- TODO why is topic-data not a component in your-street, but still findable and useable there -->
        {{!topic-data layer=layer location=model.location.feature.geometry}}
      </div>
      {{/each}}
      {{outlet}}
    </div>
  </div>
</div>
