{{address-search setAddress=(action 'onAddressChanged') address=address}}

<h3> {{returnedAddress}} </h3>

<!-- TODO rename to inline-style -->
{{inline-style href=cssUrl}}

{{#if returnedAddress}}
  {{#each layers as |layer|}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{layer.title}}</h3>
    </div>
    <div class="panel-body">
      {{topic-list layer=layer location=geocodedLocation}}
    </div>
  </div>
  {{/each}}
{{else}}
  {{t 'index.instructions'}}
{{/if}}
