<div class="panel-body">
  {{#if hasData}}
    {{#if distance}}
    <nav class="navbar navbar-default">
      <p class="navbar-text">Distance</p>
      <ul class="nav navbar-nav">
        <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{distance}} meters <span class="caret"></span></a>
           <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
             <li><a href="#" {{action 'setDistance' 50}}>half block (50 meters)</a></li>
             <li><a href="#" {{action 'setDistance' 100}}>one block (100 meters)</a></li>
             <li><a href="#" {{action 'setDistance' 402}}>quarter mile (402 meters)</a></li>
             <li><a href="#" {{action 'setDistance' 0}}>Everywhere</a></li>
           </ul>
        </li>
      </ul>
    </nav>
    {{/if}}

    {{#each features as |feature|}}
      <li class="list-group-item">
        <h4 class="list-group-item-heading">{{feature.title}}</h4>
        <p class="list-group-item-text">
          {{{feature.description}}}
        </p>
      </li>
    {{/each}}
{{else}}
<p>No data found for this address.</p>
{{/if}}
</div>
