<!-- TODO fix padding issues -->
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    {{#if session.isAuthenticated}}
      <p>{{session.currentUser.fullName}}<span class="caret"></span></p>
      <a href="#" {{action 'signout'}}>Sign Out</a>
    {{else}}
      <a class="nav-link active" href="#" {{action 'signin'}}>Sign In</a>
    {{/if}}

    <div class="editor-heading">
      <h4>{{t 'config.configureHeading'}}</h4>
    </div>

    {{#if session.isAuthenticated}}
      <form class="editor-body"> <!--oninput={{action "modelChanged"}} onchange={{action "modelChanged"}}-->
        <div class="form-group">
          <label for="{{inputWebmapId}}">{{t 'config.webmapLabel'}}</label>
          {{input id=inputWebmapId class="form-control" value=model.data.values.webmap placeholder=webmapPlaceholder}}
        </div>
        <div class="form-group">
          <label for="{{inputThemeId}}">{{t 'config.themeLabel'}}</label>
          {{input id=inputThemeId class="form-control" value=model.data.values.themeId placeholder=themePlaceholder}}
        </div>
        <div class="form-group">
          <label for="{{inputGeocodeUrl}}">{{t 'config.geocodeLabel'}}</label>
          {{input id=inputGeocodeUrl class="form-control" value=model.data.values.geocodeUrl placeholder=geocodePlaceholder}}
        </div>

        <!-- TODO add show map Show Map: <p>{{model.data.values.showMap}}</p> -->

        <button type="button" class="btn btn-primary" {{action 'save'}}>
          {{t 'general.buttons.save'}}
        </button>
      </form>
    {{/if}}
  </div>
</div>
