{{t 'general.source'}}: <a href="{{url}}">{{url}}</a> <br>
Name: {{datasetName}} <br>
Open Data Dataset link: <a href="{{odLink}}">{{odLink}}</a> <br>
AGOL item link: <a href="{{agolLink}}">{{agolLink}}</a> <br>
Server link: <a href="{{serverLink}}">{{serverLink}}</a> <br>
Attribute Name: {{attributeLink}}
